tr {
    text-align: center;
}

.totalbutton,
.countbutton,
.creatbutton {
    width: 100%;
    padding: 20px;
    outline: unset;
    background-color: blueviolet;
    color: white;
    margin: 5px;
    border: unset;
}

.creatbutton {
    background-color: orange;
    color: red;
}